
$border: 1px solid #ccc;

.row.no-gutter {
  margin-right: -4px;
  margin-left: -4px;
}
.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 4px;
  padding-left: 4px;
}

.divider {
  &:after {
    opacity: 0.6;
    content: "|";
    display: inline-block;
    padding: 0 5px;
  }
}

.panel-default {
  position: relative;
  border-radius: 0;
  margin-bottom: 8px;
  
  .panel-heading {
    border: $border;
    color: white;
    border-left: 0;
    border-bottom: 0;
    background-color: #000;
    position: absolute;
    bottom: 0;
    border-radius: 0;
  }

  .panel-body {
    padding: 0;
  }
}

.copy-dark {
  color: white;
}
