
$border: 1px solid #ccc;

.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}
.row.no-gutter > [class^="col-"],
.row.no-gutter > [class*=" col-"] {
  padding-right: 0;
  padding-left: 0;
}

.row.grid-list {
  margin-right: -2px;
  margin-left: -2px;
}
.row.grid-list > [class^="col-"],
.row.grid-list > [class*=" col-"] {
  padding-right: 2px;
  padding-left: 2px;
}

.divider {
  &:after {
    opacity: 0.6;
    content: "|";
    display: inline-block;
    padding: 0 5px;
  }
}
