@import "~bootstrap/scss/variables";

$body-bg: $gray-lighter;
$border-white: 1px solid white;
$brand-primary: orange;
$link-color: $brand-primary;

$shadow-color: rgba(0, 0, 0, 0.5);

$box-shadow-low: 1px 1px 2px $shadow-color;