$font-family-sans-serif: Roboto, sans-serif;
$brand-primary: orange;
$border-white: 1px solid white;
$link-color: $brand-primary;
$body-bg: white;

$shadow-color: rgba(0, 0, 0, 0.5);
$box-shadow-low: 0 0 4px $shadow-color;
$box-shadow-mid: 0 0 4px $shadow-color;
