@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.backdrop {
  background: black;
  opacity: 0;
}

.container {
  background-color: $body-bg;
  height: 100vh;
  margin: 15px;
  padding: 0;
  position: relative;

  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.close-button {
  color: white;
  font-size: 48px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 105;

  &:hover, &:active, :link, :visited {
    text-decoration: none;
  }

  &:hover, &:active {
    color: darken(white, 20);
  }
}

.fullscreen {
  margin: 0 auto;
  max-height: 90vh;
  position: relative;

  > .force-ratio {
    display: block;
    overflow: hidden;
  }

  > .content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .image {
      display: block;
      margin: 0 auto;
      max-height: 90vh;
      max-width: 100%;
    }
  }
}

.image-guide {
  @extend .fullscreen;
  position: absolute;
  visibility: hidden;
  left: 0;
  margin: 0 auto;
  right: 0;
  top: 0;
}
