@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.background {
  padding-top: 20px;
}

.banner {
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-top: 50%;
  @include media-breakpoint-up(md) {
    padding-top: 35%;
  }
}

.banner-scrim {
  @extend .banner;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0) 40%);
  position: absolute;
  top: 0;
  z-index: 1;
}

.container {
  @include media-breakpoint-down(sm) {
    padding: 4px;
  }
}

.thumbnail-square {
  padding-top: 100%;
}

.thumbnail-wide {
  padding-top: calc(50% - 4px);
}

.thumbnail-square, .thumbnail-wide {
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 100%;
  }

  > .content {
    background-size: cover;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }
}

.detail-view {
  position: fixed;
  top: 0;
  width: 100%;
}