@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.background {
  background-color: $body-bg;
  height: 100vh;
  position: relative;

  @include media-breakpoint-up(md) {
    padding-top: 20px;
  }
}

.container {
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
}

.close-button {
  color: white;
  font-size: 48px;
  line-height: 32px;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1;

  &:hover, &:active, :link, :visited {
    text-decoration: none;
  }

  &:hover, &:active {
    color: darken(white, 20);
  }
}

.fullscreen {
  margin: 0 auto;
  max-height: 90vh;
  position: relative;

  > .force-ratio {
    display: block;
    overflow: hidden;
    width: 100%;
  }

  > .content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    .image {
      display: block;
      margin: 0 auto;
      max-height: 90vh;
      max-width: 100%;
    }
  }
}

.backdrop {
  background: black;
}
